<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/administration/"
                            aria-expanded="false"
                    ><i class="mdi mdi-view-dashboard"></i
                    ><span class="hide-menu">Dashboard</span></a
                    >
                </li>
                <li class="sidebar-item" th:if="${agence != null}">
                    <a
                            class="sidebar-link has-arrow waves-effect waves-dark"
                            href="javascript:void(0)"
                            aria-expanded="false"
                    ><i class="mdi mdi-receipt"></i
                    ><span class="hide-menu">Agence </span></a
                    >
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/administration/depot" class="sidebar-link"
                            ><i class="mdi mdi-note-outline"></i
                            ><span class="hide-menu"> Dépôt </span></a
                            >
                        </li>
                        <li class="sidebar-item">
                            <a href="/administration/retrait" class="sidebar-link"
                            ><i class="mdi mdi-note-plus"></i
                            ><span class="hide-menu"> Rétrait </span></a
                            >
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" th:if="${tUser == 2}">
                    <a
                            class="sidebar-link has-arrow waves-effect waves-dark"
                            href="javascript:void(0)"
                            aria-expanded="false"
                    ><i class="mdi mdi-receipt"></i
                    ><span class="hide-menu">Administration </span></a
                    >
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/administration/addAgence" class="sidebar-link"
                            ><i class="mdi mdi-note-outline"></i
                            ><span class="hide-menu"> Geré Agences </span></a
                            >
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" th:if="${tUser == 3}">
                    <a
                            class="sidebar-link has-arrow waves-effect waves-dark"
                            href="javascript:void(0)"
                            aria-expanded="false"
                    ><i class="mdi mdi-receipt"></i
                    ><span class="hide-menu">Analyste </span></a
                    >
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/administration/client" class="sidebar-link"
                            ><i class="mdi mdi-note-outline"></i
                            ><span class="hide-menu"> Ectraire donné client </span></a
                            >
                        </li>
                        <li class="sidebar-item">
                            <a href="/administration/transaction" class="sidebar-link"
                            ><i class="mdi mdi-note-plus"></i
                            ><span class="hide-menu"> Extraire donné transaction </span></a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>